body {
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


/*Middle Part*/

div.addingClass form fieldset {
    margin-left: 8%;
    margin-top: 10px;
    margin-right: 8%;
    height: 210px;
    width: 320px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

legend {
    color: #567;
    font-weight: bold;
}

.confirmBtn {
    margin-left: 30%;
    margin-top: 20px;
}

.confirmBtn input {
    box-sizing: border-box;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    color: #666;
    cursor: pointer;
}

table.new_class td {
    border-collapse: collapse;
    position: relative;
    text-align: left;
    top: 30px;
    padding-bottom: 15px;
    color: #666;
}

.chooseCourse {
    position: relative;
    width: 50%;
    height: 26px;
    border: 1PX solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    color: #555;
}

.new_class td input[type=text] {
    box-sizing: border-box;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    color: #666;
}

.new_class td input[type=text]:focus {
    outline: none;
    color: #2d9fd9;
}