body {
    color: white;
    margin: 0;
    padding: 0;
}

a,
p,
li,
button {
    text-decoration: none;
    color: white;
}

header {
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    height: 10px;
    padding: 20px;
}

.logo {
    font-weight: 500;
    font-size: 20px;
    padding: 10px, 20px;
    cursor: pointer;
    letter-spacing: .2em;
}

.nav-links li {
    list-style: none;
    display: inline-block;
}

.nav-links li a {
    margin: 0 15px;
}

.nav-links li a:hover {
    color: red;
    margin: 0 15px;
}

li {
    list-style: none;
    margin: 20px;
}

button {
    border: none;
    background: white;
    padding: 6px;
    border-radius: 5px;
    font-weight: bold;
    color: black;
}

.imgbtn {
    background-color: white;
    height: 100px;
    width: 100px;
    margin: 10px;
    padding: 6px;
    border-radius: 500px;
    font-weight: bold;
    color: black;
}

main {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

main>div {
    background-color: rgb(238, 237, 236);
    height: 100%;
    width: 100%;
    padding: 20px;
}

main>div:nth-child(odd) {
    background-color: rgb(48, 46, 46);
    height: 100%;
}

.result {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 2px solid rgb(105, 101, 101);
    margin: 5px;
    color: black;
}

.resultdiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    border-bottom: 2px solid rgb(105, 101, 101);
    font-size: 30px;
    margin: 20px;
    color: black;
}